extends ../layout

block content
  .container
    .forgetForm
      p.notice=notice
      h3=title
      br
      form(class="forget" action='/forget', method='post')
        <i class="fa fa-envelope-o"></i> 
        input(type='text', name='email', placeholder='Enter email', autofocus=true, required)
        br
        button(type='submit') submit
        br
        br
        
      p: a(href='/login') Login
      p: a(href='/register') Register
