extends ../layout

block content
  .container
    .forgetForm
      p.notice=notice
      h1.login-title=title
      br
      form(class="forget" action='/forget', method='post')
        input(class="login-field" type='text', name='email', placeholder='Enter email', autofocus=true, required)
        input(class="button" type='submit' value="submit")
        br
        br
        
      p: a(href='/login') Login
      p: a(href='/register') Register
