extends ../layout

block content
  .container
    .registrationForm
      p.notice=notice
      h1.login-title=title
      br
      form(action='/register', method='post')
        input(class='login-field' type='email', name='email', placeholder='Enter email', autofocus=true, required)
        input(class='login-field' type='password', name='password', placeholder='Enter password', required)
        input(class='login-field' type='password', name='confirmPassword', placeholder='Confirm password', required)
        input(class='button' type='submit' value='Register') 
        br
        br
      
      p: a(href='/login') Login
