extends ../layout

block content
  .container
    .loginForm
      p.notice=notice
      h1.login-title<i class="fa fa-key"></i> 
      h1.login-title=title 
      br
      form(action='/login', method='post')
        input(class='login-field' type='text', name='email', placeholder='Enter email', autofocus=true, required)
        input(class='login-field' type='password', name='password', placeholder='Enter password', required)
        br
        input(class='button' type='submit' value='Login') 
        
        br
        br
        
      p: a(href='/forget') Forget password
      p: a(href='/register') Register
