extends ../layout

block content
  .container
    .registrationForm
      p.notice=notice
      h1.login-title=title
      br
      form(action='/finder', method='post')
        input(class="login-field" type='password', name='password', placeholder='Enter new password', required)
        input(class='login-field' type='password', name='confirmPassword', placeholder='Confirm new password', required)
        input(class="button" type='submit' value="Reset")
        br
        br
      
      p: a(href='/login') Login
