extends ../layout

block content
  .container
    .registrationForm
      p.notice=notice
      h3=title
      br
      form(action='/finder', method='post')
        <i class="fa fa-key"></i>
        input(type='password', name='password', placeholder='Enter new password', required)
        <i class="fa fa-key"></i>
        input(type='password', name='confirmPassword', placeholder='Confirm new password', required)
        br
        button(type='submit') Reset
        br
        br
      
      p: a(href='/login') Login
