html, body, * {
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-family: "Helvetica";
  font-size: inherit;
  transition: opacity 0.2s ease, padding 0.2s ease, background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;
}
p a, h4 a {
  color: #0088cc;
}

table tbody tr:nth-child(1), table tbody tr:nth-child(1):hover {
  background-color: rgb(237, 237, 237);
}

.editRemove a, .editAccount a, .editPayment a{
  margin-right: 5px;
}

.menuContainer {
  display: flex;
  justify-content: center;
  padding: 15px;
}

.menuContainer a {
  margin: 0 30px;
}

.generate {
  font-size: .9rem;
  width: 100%;
  margin-bottom: 10px;
  background-color: #0088cc;
  color: #fff;
  border: none;
  outline: none;
}

.notice {
  color: red;
}

.stripePay {
  display: none;
}

.receiptRfooter {
  padding-top: 5px;
  text-align: right;
  font-size: 11px;
}

.printReceipt {
  height: 30px;
  font-weight: bold;
  color: white;
  background-color: #7AB07A;
}
a:hover {
  cursor: pointer;
  text-decoration: none;
  color: rgb(207, 204, 204);
}

#receipt {
  background-color: white;
  margin: 30px auto;
  width: 800px;
  border-radius: 9px;
  padding: 30px;
}

#receipt hr {
  display: block; height: 1px;
  border: 0; border-top: 1px solid #ccc;
  margin: 1em 0; padding: 0;
}

.amount {
  width: 98%;
}

.studentList tbody tr:hover, .accountList tbody tr:hover, .paymentList tbody tr:hover {
  background-color: #EEF8F1;
}

body {
  background-color: #fafafa;
  margin: 0 10px;
}

h1, h2, h3, h4 { margin: 0; }
h1 {
  @extend .bold;
  display: inline-block;
  font-size: 20px;
}

h2 {
  font-weight: 300;
  font-size: 30px;
  color: #c3c3c3;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  color: #138A13;
}

h4 {
  font-weight: 300;
  font-size: 16px;
  color: #667782;
}

p {
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 10px;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 60px;
  padding: 0px 70px;
}

.name {
  padding: 8px 0px;
  color: #A9A3A3;
  font-style: italic;
}

table {
  width: 100%;
  text-align: left;
  margin-top: 20px;
}
th, td {
  border-bottom: 1px solid #d6d6d6;
  /*padding-top: 10px;*/
}

.addStudent, .newAccount, .paymentForm, .cardForm {
  display: none;
}

 body {
   margin: 0px;
 }

.headerMenu {
  width: 100%;
  height: 50px;
  background-color: rgba(51, 51, 51, 0.9);
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 9;
}
.headerMenu ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
}
.headerMenu li {
  list-style: none;
  float: left;
  margin-right: 30px;
}

.forgetForm {
  text-align: center;
  margin: auto;
  width: 300px;
  height: 170px;
  padding: 0 30px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

.loginForm {
  text-align: center;
  margin: auto;
  width: 300px;
  height: 207px;
  padding: 0 30px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}
 .registrationForm {
  text-align: center;
  margin: auto;
  width: 300px;
  height: 226px;
  padding: 0 30px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

.newAccount {
 text-align: center;
 margin:  auto auto 30px auto;
 width: 300px;
 height: 175px;
 padding: 20px 30px;
 border: 1px solid #d6d6d6;
 border-radius: 8px;
}

.addStudent {
 text-align: center;
 margin:  auto auto 30px auto;
 width: 300px;
 height: 320px;
 padding: 20px 30px;
 border: 1px solid #d6d6d6;
 border-radius: 8px;
}

.cashCheckForm {
  text-align: center;
  margin:  auto auto 30px auto;
  width: 300px;
  height: 220px;
  padding: 20px 30px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
}

.cardForm {
  text-align: center;
  margin:  auto auto 30px auto;
  width: 300px;
  height: 100px;
  padding: 20px 30px;
  border: 1px solid #d6d6d6;
  border-radius: 8px;
}

.cash, .check, .card {
  display: flex;
}

.cash h4, .check h4, .card h4 {
  padding-top: 5px;
  margin-left: 10px;
}

.paymentForm input{
  height: 25px;
  margin-bottom: 10px;
}

.cvc, .month {
  width: 35%;
  margin-right: 10px;
}

.year {
  width: 50%;
}

.loginForm input, .forgetForm input, .registrationForm input, .addStudent input, .newAccount input {
  width: 88%;
  height: 25px;
  margin-bottom: 10px;
}

.cashCheckForm form input:nth-child(2) {
  width: 98%;
  height: 25px;
  margin-bottom: 10px;
}

.cashCheckForm form input:nth-child(6) {
  padding-left: 30px;
  margin-bottom: 20px;
}

.addStudent .half {
  width: 94px;
}

.addStudent .half:nth-child(2) {
  margin: 0 20px;
}

.cardForm button {
  width: 100%;
  height: 30px;
  margin: 0 auto;
  background-color: #1E72E8;
  color: white
}

.loginForm button, .forgetForm button, .registrationForm button, .newAccount button, .addStudent button, .cashCheckForm button {
  width: 100%;
  height: 30px;
  margin: 0 auto;
  background-color: rgb(108, 168, 108);
  color: white;
}
