p Hi #{name},
p Thank you for registering for the softare testing program at SuperQA software training bootcamp.

span SuperQA team
br
span SuperQA Software Testing Bootcamp 
br
span 427 Grand ave 
br
span Oakland, CA. 94610
