doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    .headerMenu
      ul
        if user
          li: h4: a(href='/') SuperQA
          li: h4: a(href='/accounts') Accounts
          li: h4: a(class='recruter' href='/logout') Logout
        else
          li: h4: a(href='/login') Login
          li: h4: a(href='/register') Register
    block content
