extends ../layout

block content 
  if reports
    .container
      if reports 
        each report in reports
          if report
            h4= report.cohort
        table(class="studentList")
          tr
            th: h4 Name
            th: h4 Email
            th: h4 Phone
            th: h4 Balance
            each report in reports
              tr
                td: p=report.studentFullName
                td: p=report.studentEmail
                td: p=report.studentPhone
                - var num = parseInt(report.balance.toFixed(2))
                if (num >= 500 && num < 1500)
                  td.orange: i: p: b="$ " + report.balance.toFixed(2)
                else if (num >= 1500 && num <= 2500)
                  td.red: i: p: b="$ " + report.balance.toFixed(2)
                else
                  td: i: p: b="$ " + report.balance.toFixed(2)
  else
    .container
      h4 You have no right to this page
