extends ../layout

block content
  .container
    h3=title
    form(action='/accounts', method='post')
      label Cohort name: 
      input(type='text', name='cohort', placeholder='enter cohort name', autofocus=true, required)
      br
      label Start date: 
      input(type='date', name='startDate', required)
      br
      label End date: 
      input(type='date', name='endDate', required)
      br
      br
      button(type='submit') Create Account
